name: build

on:
  push:
    branches:
      - main
    tags:
      - "v*"
    paths:
      - ".github/workflows/**"
      - "src/**"
      - "test/**"
      - "test-postgres/**"
      - "package.yaml"
      - "stack*.yaml"
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        resolver:
          - "stack-lts11"
          - "stack-lts18"
        postgres-flag:
          - ""
          - "--flag network-wait:postgres"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: haskell/actions/setup@v2
        id: install-haskell
        with:
          enable-stack: true
          stack-version: "latest"
          stack-no-global: true

      - name: Write flags to file (for hashing)
        run: |
          echo ${{ matrix.postgres-flag }} > .cabal-flags
          cat .cabal-flags

      - name: Cache .stack
        id: cache-stack
        uses: actions/cache@v3
        with:
          path: ${{ steps.install-haskell.outputs.stack-root }}
          key: ${{ runner.os }}-${{ matrix.resolver }}-${{ hashFiles(format('{0}.yaml', matrix.resolver)) }}-${{ hashFiles('*.cabal') }}-${{ hashFiles('.cabal-flags') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.resolver }}-${{ hashFiles(format('{0}.yaml', matrix.resolver)) }}-${{ hashFiles('*.cabal') }}-
            ${{ runner.os }}-${{ matrix.resolver }}-${{ hashFiles(format('{0}.yaml', matrix.resolver)) }}-
            ${{ runner.os }}-${{ matrix.resolver }}-

      - name: Install dependencies
        run: stack --system-ghc --stack-yaml=${{ matrix.resolver }}.yaml --no-terminal build ${{ matrix.postgres-flag }} --only-dependencies --test --haddock --fast

      - name: Build
        id: build
        run: stack --system-ghc --stack-yaml=${{ matrix.resolver }}.yaml --no-terminal build ${{ matrix.postgres-flag }} --fast --test --no-run-tests

      - name: Start Docker containers (PostgreSQL)
        if: ${{ contains(matrix.postgres-flag, 'network-wait:postgres') }}
        run: |
          docker-compose -f docker-compose.postgresql.yaml up -d

      - name: Test
        run: stack --system-ghc --stack-yaml=${{ matrix.resolver }}.yaml --no-terminal build ${{ matrix.postgres-flag }} --fast --test

      - name: Stop Docker containers (PostgreSQL)
        if: ${{ contains(matrix.postgres-flag, 'network-wait:postgres') }}
        run: |
          docker-compose -f docker-compose.postgresql.yaml down
